.mainMenu {
    /* display: flex;
    flex-direction: row; */
    margin: 20px auto;
    max-width: 1200px;

    
}
.title {
    color: red;
    font-size: larger;
}

.menu-title {
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    font-weight: 500px;
    font-size: xx-large;
    color: rgb(13, 102, 55);
  }
  
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .menu-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .menu-item-content {
    padding: 20px;
  }
  
  .menu-item-content h5 {
    margin: 10px 0;
  }
  
  .menu-item-content p {
    margin: 0 0 10px;
  }
  
  .menu-item-content .price {
    font-weight: bold;
    color: #000;
  }
  
  .menu-item-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .menu-item-content .quantity-input {
    width: 60px;
    margin-right: 10px;
  }
  
  .menu-item-content .add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .edit {
    background-color: #e90e0e;
  }

  .edit:hover {
    background-color: #6f3e3e;
  }
  
  .menu-item-content .add-to-cart:hover {
    background-color: #0056b3;
  }

  .mainMenu a {
    display: block;
    text-decoration: none;
    margin: 30px 400px;
    font-size: 30px;
    padding: 5px 40px;
    color: black;
    border-radius: 150px;
    background-color: rgb(151, 121, 83);
    border: 2px black solid;
  }

  .mainMenu a:hover {
    border: 2px rgb(151, 121, 83) solid;
    color: rgb(151, 121, 83);
    background-color: white;
  }