.nav-item {
    position: relative;
}

.nav-item span {
    position: absolute;
    display: block;
    background-color: rgba(34, 34, 216, 0.775);
    font-size: 13px;
    width: 18px;
    height: 18px;
    color: white;
    border-radius: 200px;
    padding: 0 1px 1px 0;
}