
.registration-container {
    width: 50vh;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #bebebe;
  }
  
  .registration-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .registration-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .registration-form input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
  }
  
  .registration-form button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #0056b3;
  }
  
  .registration-form .error-message {
    color: red;
    margin-bottom: 15px;
    display: none;
  }
  
  .registration-form .success-message {
    color: green;
    margin-bottom: 15px;
    display: none;
  }
  